@page "/"
@using FairScience.Device.Serial

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{

    protected override void OnInitialized()
    {
        var serialPortProvider = new SerialPortProvider();
        var portNames = serialPortProvider.GetPortNames();

        if (!portNames.Any())
        {
            return;
        }

        var portName = portNames.First();
        var port = serialPortProvider.GetSerialPort(portName);

        port.Open();
        var driver = new SerialPortTextDriver(port);
        driver.WriteLine("G01");
        port.Close();
    }

}